.navbar-custom{
	background-color: #2C3E50;
	color:black;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    background: #f3eaea;
    color: #2f2a2a;
    border-color: #d6bcbc;
}

i.fas.fa-audio-description {
    font-size: 144%;
}